<!DOCTYPE html>
<html>

<head>
  <title>{{folderName}}</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700|Rubik:300,400,500,700">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">



    <script>
    function deleteFile(id){
      var x = confirm("Are you sure you want to delete this file?");
        if (x == true){
          window.location.href =id
        } 
        else{

        }
    } 
    
    </script>
</head>

<body>


  <div> {{folderName}}</div>
  <h3>Folders</h3>
  <ul id="folderList">

    {{{listOfFolders}}}
  </ul>
  <h3>Files</h3>
  <ul id="fileList">
    {{{listOfFiles}}}

  </ul>



  <a href="/">
    <input type="button" value="Click here to add another file">
  </a>

</body>

</html>